/* Common variables */
:root {
	--blue: #1090D5;
	--light-grey: #D3D3D3;
	--pageTitle:36px;
	--title: 56px;
	--stdFont:18px;
}
/* Removes standard margin */
body {
	margin: 0;
	overflow-x:hidden;
	color: #2D3138;
}

/*============================================= Styling for Mobile =============================================*/
/* Creates a flexbox columnar layout */
.flex-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
	.flex-container > .flex-row {
		width:100%;
	}

/* Wrapper div element for the page title, styled to have the background image */
.titleWrapper {
	padding: 0 5%;
	height: 300px;
	background-image:url("../images/Technology.PNG");
	background-size: cover;
	background-position: center center;
}
	/* Styling for the page title text */
	.titleWrapper > .pageTitle {
		color: var(--blue);
		font-size: var(--title);
		margin: 0;
		padding-top: 80px;
		background: linear-gradient(to bottom left, white 35%, var(--blue) 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

.pageTitle > span {
	-webkit-background-clip: content-box;
	-webkit-text-fill-color: initial;
}

/* Styling regarding the look and placement of the search bar and search button */
.searchBox, .searchBtn{
	background-color: white;
	font-size: var(--stdFont);
	vertical-align: top;
}

.searchBox {
	width: calc(100% - 90px);
	padding: 12px 16px;
	border: none;
	border-radius: 6px 0 0 6px;
}

.searchBtn {
	padding: 12px 12px;
	border: none;
	border-left: solid 1px var(--light-grey);
	border-radius: 0 6px 6px 0;
	background-color: white;
}

/* CSS3 grid */
.grid {
	display: grid;
	grid-template-columns: calc(5% - 20px) repeat(6, 1fr) calc(5% - 20px);
	grid-gap: 20px;
}
/* Standard cell in a css grid, styled to fill all but the first and last column in the grid */
.cell {
	grid-column: 2 / -2;
}

/* span all cell in a css grid, styled to fill all but the first and last column in the grid */
.cellSpan {
	padding: 0 20px;
	grid-column: 1 / -1;
}



.links {
	list-style-type: none;
	padding-left: 0;
}

.largeScreenOnly {
	display: none;
}

/* Styling for anchor tags to mimic html button elements */
.mimicBtn {
	cursor: pointer;
	font-family: inherit;
	text-align: left;
	outline: none;
	border: 1px solid var(--blue);
	display: inline-block;
	width: 100%;
	text-decoration: none;
	background-color: var(--blue);
	border-radius: 6px;
}
	.mimicBtn > * {
		padding: 0 20px;
		color: white;
	}
	
	.mimicBtn > h2 {
		font-size: 32px;
	}
	
	.mimicBtn > p {
		font-size: var(--stdFont);
	}

.mimicLink {
	cursor: pointer;
	font-family: inherit;
	text-align: left;
	outline: none;
	border: none;
	background: none;
	color: inherit;
	display: inline-block;
}
	.mimicLink > * {
		padding: 0 20px;
	}
	
	.mimicLink > h2 {
		font-size: 32px;
		text-decoration: underline;
		margin-bottom: 5px;
	}
	
	.mimicLink > p {
		margin-top: 5px;
		font-size: var(--stdFont);
	}

.inverse {
	color: white;
	display: inline-block;
	background: var(--blue);
	padding: 0 10px;
	border-radius: 6px;
	margin-right: 5px;
}

.subtitle {
	padding: 0 calc(5% + 20px);
	padding-top: 50px;
}

/* Styling to create a centered form element in the middle of the page */

	.centered > * {
		padding: 0 20px;
		font-size: var(--stdFont);
	}

.form {
	border: solid 1px var(--light-grey);
	border-radius: 6px;
}
	
/* Simple class to change text colour to red */
.red {
	color: red;
}

/* Section styling to provide seperation of elements through padding and margins */	
section {
	margin-top: 20px;
	border-bottom: solid 1px var(--light-grey);
}

section > label, section > p {
	font-size: var(--stdFont);
}

section > input[type='text'], section > textarea, section > input[type='password'] {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	border: solid 1px #777777;
	margin-top: 5px;
	width: 100%;
	font-size: var(--stdFont);
	margin-bottom: 20px;
}

section > textarea {
	height: 100px;
}

/* Smaller text in a grey font */
.small {
	color: #777777;
	font-size: 15px;
	margin: 0 0 15px 0;
	display: block;
}

.title > h1 {
	font-size: var(--pageTitle);
	margin: 15px 0;
}

.spacing {
	height: 5px;
	background: #2D3138;
}

.spaced {
	padding: 15px 0;
}

.spaced > a, .spaced > a:visited {
	color: #2D3138;
	text-decoration: none;
	font-weight: bold;
}
.spaced > a:hover {
	color: black;
}

.rdoText {
	display: inline-block;
	width: 300px;
}

.urlPart {
	font-weight: bold;
}

.smallWhitespace {
	margin-bottom: 20px;
}

.whitespace {
	margin-bottom: 50px;
}





/** copied from w3schools tutorials */
.navBar {
    overflow: hidden;
}

.navBar a {
	color: #2D3138;
    float: right;
    font-size: var(--stdFont);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navBar a:visited {
	color: #2D3138;
}

.dropdown {
    float: right;
	display:inline-block;
}

.dropdown .dropBtn {
	color: #2D3138;
    font-size: var(--stdFont);    
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navBar a:hover, .dropdown:hover .dropBtn {
    color: #7F838A;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #2D3138;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover{
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.contactInfo > span {
	margin-top: 15px;
	display: block;
	width: 200px;
}

/* ============================================= Styling for Desktop and Tablet ============================================= */
@media only screen and (min-width: 375px) {
	.contactInfo > span {
		display: inline-block;
	}
	
	.small {
		display: inline;
	}
	
	.largeScreenOnly {
		display: block;
	}
	
	.cellSpan {
		padding: 0 20px;
		grid-column: 2 / -2;
	}
}

@media only screen and (min-width: 1000px) {
	.cell {
		grid-column-start: auto;
		grid-column-end: span 3;
	}
	.offset {
		grid-column-start: 2;
	}
	
	section > input[type='text'] {
		width: 100%;
	}
	
	.titleWrapper {
		padding: 0 18%;
		height: 340px;
		background-image:url("../images/Technology.PNG");
		background-size: cover;
		background-position: center center;
	}
		.titleWrapper > .pageTitle {
			-webkit-background-clip: content-box;
			-webkit-text-fill-color: initial;
			color: var(--blue);
			font-size: var(--title);
			margin: 0;
			padding-top: 80px;
			background: none;
			
		}
	.grid {
		display: grid;
		grid-template-columns: calc(5% - 20px) repeat(6, 1fr) calc(5% - 20px);
		grid-gap: 20px;
	}
	
	
	.subtitle {
		padding: 0 calc(18% + 20px);
		padding-top: 50px;
	}
	
	.centered{
		margin: 0 5%;
	}
	
	.small {
		color: #777777;
		font-size: 18px;
		margin: 0 0 15px 0;
	}
	
	.login {
		padding: 0 30%;
	}
}

@media only screen and (min-width: 1200px) {
	.grid {
		display: grid;
		grid-template-columns: calc(18% - 20px) repeat(6, 1fr) calc(18% - 20px);
		grid-gap: 20px;
	}
	
	.centered{
		margin: 0 18%;
	}
}

