<Context>

    <!-- Default set of monitored resources. If one of these changes, the    -->
    <!-- web application will be reloaded.                                   -->
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>
		<Resource
		name="SENG2050_2018"
		auth="Container"
		type="javax.sql.DataSource"
		maxActive="100"
		maxIdle="30"
		maxWait="10000"
		username="c3252227"
		password="27/03/1996"
		driverClassName="com.mysql.jdbc.Driver"
		url="jdbc:mysql://localhost:3306/SENG2050_2015"/>

</Context>
